<?xml version="1.0"?>
<robot name="autonomous_sphere_collector">

    <material name="grey">
        <color rgba="0.7 0.7 0.7 1"/>
    </material>

    <material name="green">
        <color rgba="0 0.6 0 1"/>
    </material>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <!-- Virtual footprint link -->
    <link name="base_footprint"/>

    <!-- BASE LINK-->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.6 0.4 0.2"/>
            </geometry>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
            <material name="green"/>
        </visual>
    </link> 

    <!-- LIDAR LINK-->
    <link name="lidar">
        <visual>
            <geometry>
                <cylinder radius="0.1" length="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <!-- WHEELS LINK-->
    <link name="left_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.1" length="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="right_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.1" length="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>
            <material name="white"/>
        </visual>
    </link>
    
    <link name="caster_wheel">
        <visual>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <!-- SCOOP OR GRIPPING LINK-->

    <!-- Left wing -->  
    <link name="scoop_left_wing">
        <visual>
            <geometry>
                <box size="0.1 0.04 0.1"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </geometry>
                <material name="white"/>
        </visual>
    </link>

    <!-- Right wing -->
    <link name="scoop_right_wing">
        <visual>
            <geometry>
                <box size="0.1 0.04 0.1"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>

    <!-- Bucket-->
    
    <link name="bucket_bottom">
        <visual>
            <geometry>
                <box size="0.1 0.3 0.01"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>

    <link name="bucket_back_wall">
        <visual>
            <geometry>
                <box size="0.01 0.3 0.15"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>

    <link name="bucket_left_wall">
        <visual>
            <geometry>
                <box size="0.1 0.01 0.15"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>

    <!-- bucket joints-->
   

    <joint name="bucket_bottom_joint" type="fixed">
        <parent link="base_link"/>
        <child link="bucket_bottom"/>
        <origin xyz="0.38 0 0.01" rpy="0 0 0"/>
    </joint>

    <joint name="bucket_back_wall_joint" type="fixed">
        <parent link="base_link"/>
        <child link="bucket_back_wall"/>
        <origin xyz="0.325 0 0.08" rpy="0 0 0"/>
    </joint>

    <joint name="bucket_left_wall_joint" type="fixed">
        <parent link="base_link"/>
        <child link="bucket_left_wall"/>
        <origin xyz="0.38 0.15 0.08" rpy="0 0 0"/>
    </joint>

    <!-- BASE JOINTS-->
    <joint name="footprint_base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </joint>

    <joint name="base_lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar"/>
        <origin xyz="0 0 0.225" rpy="0 0 0"/>
    </joint>

    <!-- WHEEL JOINTS-->
    <joint name="base_left_wheel" type="continuous">
        <parent link="base_link"/>
        <child link="left_wheel"/>
        <origin xyz="-0.15 0.225 0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="base_right_wheel" type="continuous">
        <parent link="base_link"/>
        <child link="right_wheel"/>
        <origin xyz="-0.15 -0.225 0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="base_caster_wheel" type="fixed">
        <parent link="base_link"/>
        <child link="caster_wheel"/>
        <origin xyz="0.2 0 -0.05" rpy="0 0 0"/>
    </joint>
     
     <!-- SCOOP OR GRIPPING JOINT-->

    <joint name="scoop_left_wing_joint" type="revolute">
        <parent link="base_link"/>
        <child link="scoop_left_wing"/>
        <origin xyz="0.30 0.18 0.08" rpy="0 0 0.0"/> <!-- yaw + tilt -->
        <axis xyz="0 1 0"/>
        <limit lower="-1.57" upper="1.57" effort="10.0" velocity="1.0"/>
    </joint>

    <joint name="scoop_right_wing_joint" type="revolute">
        <parent link="base_link"/>
        <child link="scoop_right_wing"/>
        <origin xyz="0.30 -0.18 0.08" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="-1.57" upper="1.57" effort="10.0" velocity="1.0"/>
    </joint>


</robot>
